<p id="notice"><%= notice %></p>

<h1>Illness Controls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @illness_controls.each do |illness_control| %>
      <tr>
        <td><%= illness_control.name %></td>
        <td><%= link_to 'Show', illness_control %></td>
        <td><%= link_to 'Edit', edit_illness_control_path(illness_control) %></td>
        <td><%= link_to 'Destroy', illness_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Illness Control', new_illness_control_path %>
