<p id="notice"><%= notice %></p>

<h1>Fertilize Procedures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fertilize_procedures.each do |fertilize_procedure| %>
      <tr>
        <td><%= fertilize_procedure.name %></td>
        <td><%= link_to 'Show', fertilize_procedure %></td>
        <td><%= link_to 'Edit', edit_fertilize_procedure_path(fertilize_procedure) %></td>
        <td><%= link_to 'Destroy', fertilize_procedure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fertilize Procedure', new_fertilize_procedure_path %>
