<script>
$( document ).ready(function() {
});
function readURL(input) {
  target = input.getAttribute('data')
  console.log(target)

  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#"+target+" img")[0].src = e.target.result 
    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>

<%= form_with(model: plot, local: true) do |form| %>
  <% if plot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plot.errors.count, "error") %> prohibited this plot from being saved:</h2>

      <ul>
      <% plot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>รูปแปลงแตงโม</label>
  <button type="submit" class="btn btn-outline-danger fas fa-trash" name="commit_deletePicture"></button>
  <div class="row" style="margin-bottom:1rem;">
    <% 
      count = 0
      size = 210
      for pic in plot.pictures do 
    %>
    <div class="col-lg-3 col-md-4" style="text-align:center;">
      <div id="picture-<%= count %>">
        <%= plot_picture(plot, size, "rounded", count) %>
      </div>
      
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="plot[picture][delete][<%= count %>]">
        <label class="form-check-label" for="defaultCheck1">
          <span>รูปถ่ายที่ <%= count+1 %></span>
        </label>
      </div>
    </div>
    <% 
      count = count + 1
      end 
    %>
    <!-- New picture -->
    <div class="col-lg-3 col-md-4" style="text-align:center;">
      <div id="picture-<%= count %>">
        <%= plot_picture(plot, size, "rounded", -1) %>
      </div>
      <span>รูปใหม่</span>
      <%= form.file_field :picture, name:"plot[picture][new]",data:"picture-#{count}" , onchange:"readURL(this);", class:"form-control-file"%>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-12">
      <%= form.label "เจ้าของแปลง" %>
      <%= form.collection_select(:farmer_id, Farmer.all, :id, :display_name, {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label "ขนาดพื้นที่ (ไร่)" %>
      <%= form.text_field :areaRai, class: "form-control",autocomplete: "off" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label "จำนวนต้น (ต้น)" %>
      <%= form.text_field :treeCount, class: "form-control",autocomplete: "off" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label "พันธุ์ที่ปลูก" %>
      <%= form.text_field :breed, class: "form-control",autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-12">
      <%= form.label "โครงการที่เข้าร่วม" %>
      <%= form.text_field :project, class: "form-control",autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label "ใบรับรองที่ได้" %>
      <%= form.text_field :certificate, class: "form-control",autocomplete: "off" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label "วันที่ได้ใบรับรอง" %>
      <%= form.text_field :certificateDate, class: "form-control",autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label "ช่วงการเก็บเกี่ยวผลผลิต (วัน)" %>
      <%= form.text_field :harvestPeriod, class: "form-control",autocomplete: "off" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label "ปริมาณผลผลิตทั้งหมด (กิโลกรัม)" %>
      <%= form.text_field :harvestQuantity, class: "form-control",autocomplete: "off" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label "ราคาผลผลิต (บาท/กิโลกรัม)" %>
      <%= form.text_field :price, class: "form-control",autocomplete: "off" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <% plotManagement = JSON.parse(@plot.plotManagement) %>
    <div class="form-group col-md-4">
      <%= form.label "การจัดการแปลง" %>
      <div class="form-check">
        <input class="form-check-input" value="true" type="checkbox" name="plot[plotManagement][เกษตรอินทรีย์]" <%= plotManagement["เกษตรอินทรีย์"].nil? ? "" : "checked" %>>
        <label class="form-check-label">
          <span>เกษตรอินทรีย์</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" value="true" type="checkbox" name="plot[plotManagement][อินทรีย์และเคมี]" <%= plotManagement["อินทรีย์และเคมี"].nil? ? "" : "checked" %>>
        <label class="form-check-label">
          <span>อินทรีย์และเคมี</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" value="true" type="checkbox" name="plot[plotManagement][ตัดหญ้าดูแลแปลง]" <%= plotManagement["ตัดหญ้าดูแลแปลง"].nil? ? "" : "checked" %>>
        <label class="form-check-label">
          <span>ตัดหญ้าดูแลแปลง</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <% fertilizeManagement = JSON.parse(@plot.fertilizeManagement) %>
    <div class="form-group col-md-4">
      <%= form.label "วิธีการใส่ปุ๋ย" %>
      <div class="form-check">
        <input class="form-check-input" value="true" type="checkbox" name="plot[fertilizeManagement][เกษตรอินทรีย์]" <%= plotManagement["เกษตรอินทรีย์"].nil? ? "" : "checked" %>>
        <label class="form-check-label">
          <span>เกษตรอินทรีย์</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" value="true" type="checkbox" name="plot[plotManagement][อินทรีย์และเคมี]" <%= plotManagement["อินทรีย์และเคมี"].nil? ? "" : "checked" %>>
        <label class="form-check-label">
          <span>อินทรีย์และเคมี</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" value="true" type="checkbox" name="plot[plotManagement][ตัดหญ้าดูแลแปลง]" <%= plotManagement["ตัดหญ้าดูแลแปลง"].nil? ? "" : "checked" %>>
        <label class="form-check-label">
          <span>ตัดหญ้าดูแลแปลง</span>
        </label>
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :fertilizeManagement %>
    <%= form.text_field :fertilizeManagement %>
  </div>

  <div class="field">
    <%= form.label :waterManagement %>
    <%= form.text_field :waterManagement %>
  </div>

  <div class="field">
    <%= form.label :illnessManagement %>
    <%= form.text_field :illnessManagement %>
  </div>

  <div class="field">
    <%= form.label :harvestManagement %>
    <%= form.text_field :harvestManagement %>
  </div>

  <div class="field">
    <%= form.label :sellingChannel %>
    <%= form.text_field :sellingChannel %>
  </div>

  <div class="field">
    <%= form.label :logistic %>
    <%= form.text_field :logistic %>
  </div>

  <div class="field">
    <%= form.label :addressNo %>
    <%= form.text_field :addressNo %>
  </div>

  <div class="field">
    <%= form.label :addressMoo %>
    <%= form.text_field :addressMoo %>
  </div>

  <div class="field">
    <%= form.label :addressTambon %>
    <%= form.text_field :addressTambon %>
  </div>

  <div class="field">
    <%= form.label :addressAmphoe %>
    <%= form.text_field :addressAmphoe %>
  </div>

  <div class="field">
    <%= form.label :addressProvince %>
    <%= form.text_field :addressProvince %>
  </div>

  <div class="field">
    <%= form.label :addressZipcode %>
    <%= form.text_field :addressZipcode %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long %>
  </div>

  <button type="submit" class="btn btn-success" name="commit"><i class='far fa-save'></i> ยืนยัน</button>

<% end %>
