<p id="notice"><%= notice %></p>

<h1>Plots</h1>

<table>
  <thead>
    <tr>
      <th>Farmer</th>
      <th>Arearai</th>
      <th>Treecount</th>
      <th>Breed</th>
      <th>Project</th>
      <th>Certificate</th>
      <th>Certificatedate</th>
      <th>Harvestperiod</th>
      <th>Harvestquantity</th>
      <th>Price</th>
      <th>Plotmanagement</th>
      <th>Fertilizemanagement</th>
      <th>Watermanagement</th>
      <th>Illnessmanagement</th>
      <th>Harvestmanagement</th>
      <th>Sellingchannel</th>
      <th>Logistic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plots.each do |plot| %>
      <tr>
        <td><%= plot.farmer %></td>
        <td><%= plot.areaRai %></td>
        <td><%= plot.treeCount %></td>
        <td><%= plot.breed %></td>
        <td><%= plot.project %></td>
        <td><%= plot.certificate %></td>
        <td><%= plot.certificateDate %></td>
        <td><%= plot.harvestPeriod %></td>
        <td><%= plot.harvestQuantity %></td>
        <td><%= plot.price %></td>
        <td><%= plot.plotManagement %></td>
        <td><%= plot.fertilizeManagement %></td>
        <td><%= plot.waterManagement %></td>
        <td><%= plot.illnessManagement %></td>
        <td><%= plot.harvestManagement %></td>
        <td><%= plot.sellingChannel %></td>
        <td><%= plot.logistic %></td>
        <td><%= link_to 'Show', plot %></td>
        <td><%= link_to 'Edit', edit_plot_path(plot) %></td>
        <td><%= link_to 'Destroy', plot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plot', new_plot_path %>
