<p id="notice"><%= notice %></p>

<h1>แปลงแตงโม</h1>
<div class="row">
  <% @plots.each do |plot| %>
  <div class="col-lg-3 col-md-4">
    <div class="card" style="margin:5px;">
      <div class="card-img-top" style="background-image:url('<%= plot.picture.attached? ? url_for(plot.picture) : "" %>'); height:200px; background-position:center;">&nbsp;</div>
      <!--<img src="<%#= plot.picture.attached? ? url_for(plot.picture) : "" %>" class="card-img-top" alt="...">-->
      <div class="card-body">
        <%= link_to "รหัสแปลง #{plot.id}", plot %><br>
        <b>เจ้าของ</b> <%= plot.farmer.fullName %><br>
        <b>ที่อยู่</b> <%= plot.address %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Plot', new_plot_path %>