<script>
$( document ).ready(function() {
  $("#nav-li-plot").addClass('active')
});
</script>

<h1>แปลง<%= Rails.configuration.thai %></h1>
<div class="row">
  <% @plots.each_with_index do |plot, index| %>
  <div class="wow fadeInUp col-lg-3 col-md-4" data-wow-delay="0.<%= index%4 %>s">
    <div class="card" style="margin:5px;">
      <div class="card-img-top">
        <%= raw plot_picture_carousel(plot, 400) %>
      </div>
      <div class="card-body">
        <%= link_to "รหัสแปลง #{plot.id}", plot %><br>
        <b>เจ้าของ</b> <%= plot.farmer.display_name %><br>
        <b>ที่อยู่</b> <%= plot.display_address %>
      </div>
    </div>
  </div>
  <% end %>
</div>