<div class="row">
  <!-- Left colum: image -->
  <div class="col-md-6">
    <div class="row justify-content-center">
      <div class="col">
        <%= raw plot_picture_carousel(@plot, 300) %>
      </div>
    </div>
    <div class="row">
      <% if !current_user.nil? %>
        <%= qrCode(plot_url(@plot),200) %>
      <% end %>
    </div>
  </div>
  <!-- Right Column: information-->
  <div class="col-md-6">
    <p><b>เจ้าของแปลง</b> <a href="<%= farmer_url @plot.farmer %>"> <%= @plot.farmer.display_name %> </a> </p>
    <p><b>ที่อยู่</b><br> <%= @plot.display_address %> </p>
    <p>
      <b>ขนาดพื้นที่</b> <%= @plot.areaRai %> ไร่ 
      <b>จำนวน</b> <%= @plot.treeCount %> ต้น 
      <b>พันธุ์</b> <%= @plot.breed %> ต้น 
    </p>
    <p><b>โครงการที่เข้าร่วม</b> <%= @plot.project %> </p>
    <p>
      <b>ใบรับรองที่ได้</b> <%= @plot.certificate %> <br>
      <b>วันที่ได้ใบรับรอง</b> <%= @plot.certificateDate %> 
    </p>
    <p>
      <b>ช่วงการเก็บเกี่ยวผลผลิต</b> <%= @plot.harvestPeriod %> <br>
      <b>ปริมาณผลผลิตทั้งหมด</b> <%= @plot.harvestQuantity %> กิโลกรัม
      <b>ราคา</b> <%= @plot.price %> บาท/กิโลกรัม
    </p>
    <hr>
    <p>
      <b>การจัดการแปลง</b>
      <ul>
        <% JSON.parse(@plot.plotManagement).each do |index,value| %>
          <li><%= index %></li>
        <% end %>
      </ul>
    </p>
    <p>
      <b>วิธีการใส่ปุ๋ย</b>
      <ul>
        <% JSON.parse(@plot.fertilizeManagement).each do |index,value| %>
          <li>สูตรปุ๋ย <%= value["สูตรปุ๋ย"] %> อัตรา <%= value["อัตรา"] %> กิโลกรัม</li>
        <% end %>
      </ul>
    </p>
    <p>
      <b>การจัดการน้ำ</b>
      <ul>
        <% JSON.parse(@plot.waterManagement).each do |index,value| %>
          <li><%= index %></li>
        <% end %>
      </ul>
    </p>
    <p>
      <b>การควบคุมโรค</b>
      <ul>
        <% JSON.parse(@plot.illnessManagement).each do |index,value| %>
          <li><%= index %> : <%= value %> </li>
        <% end %>
      </ul>
    </p>
    <p>
      <b>วิธีการเก็บเกี่ยวผลผลิต</b>
      <ul>
        <% JSON.parse(@plot.harvestManagement).each do |index,value| %>
          <li><%= index %></li>
        <% end %>
      </ul>
    </p>
    <p>
      <b>แหล่งรับซื้อ</b>
      <ul>
        <% JSON.parse(@plot.sellingChannel).each do |index,value| %>
          <li><%= index %></li>
        <% end %>
      </ul>
    </p>
    <p>
      <b>วิธีการขนส่งผลผลิต</b>
      <ul>
        <% JSON.parse(@plot.logistic).each do |index,value| %>
          <li><%= index %></li>
        <% end %>
      </ul>
    </p>
  </div>
</div>
<div class="row justify-content-center">
  <% if !current_user.nil? %>
  <a href="<%= edit_plot_path(@plot) %>" class="btn btn-light-brown"><i class='far fa-edit'></i> แก้ไข</a>
  <% end %>
  <a href="<%= plots_path(@plot) %>" class="btn btn-light"><i class="fas fa-arrow-left"></i> กลับ</a>
</div>