<p>
  <strong>Farmer:</strong>
  <%= @plot.farmer %>
</p>

<p>
  <strong>Arearai:</strong>
  <%= @plot.areaRai %>
</p>

<p>
  <strong>Treenumber:</strong>
  <%= @plot.treeNumber %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @plot.breed %>
</p>

<p>
  <strong>Plantdate:</strong>
  <%= @plot.plantDate %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @plot.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @plot.long %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @plot.certificate %>
</p>

<p>
  <strong>Issuedate:</strong>
  <%= @plot.issueDate %>
</p>

<p>
  <strong>Harvestperiod:</strong>
  <%= @plot.harvestPeriod %>
</p>

<p>
  <strong>Harvestquantity:</strong>
  <%= @plot.harvestQuantity %>
</p>

<p>
  <strong>Harvestprocedure:</strong>
  <%= @plot.harvestProcedure %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plot.price %>
</p>

<p>
  <strong>Policy:</strong>
  <%= @plot.policy %>
</p>

<p>
  <strong>Fertilizeprocedure:</strong>
  <%= @plot.fertilizeProcedure %>
</p>

<p>
  <strong>Market:</strong>
  <%= @plot.market %>
</p>

<p>
  <strong>Logistic:</strong>
  <%= @plot.logistic %>
</p>

<p>
  <strong>Addressno:</strong>
  <%= @plot.addressNo %>
</p>

<p>
  <strong>Addressmoo:</strong>
  <%= @plot.addressMoo %>
</p>

<p>
  <strong>Addresstambon:</strong>
  <%= @plot.addressTambon %>
</p>

<p>
  <strong>Addressamphoe:</strong>
  <%= @plot.addressAmphoe %>
</p>

<p>
  <strong>Addressprovince:</strong>
  <%= @plot.addressProvince %>
</p>

<p>
  <strong>Addresszipcode:</strong>
  <%= @plot.addressZipcode %>
</p>

<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>
