<script>
var latlngs = '<%= raw @plot.polygon %>';
var color = '<%= Rails.configuration.polygonColour %>';
$( document ).ready(function() {
  $("#nav-li-plot").addClass('active');

  // Init map here
  var lat = <%= @plot.lat %>;
  var lng = <%= @plot.long %>;
  map = initMap(lat, lng, false, 'map');
  addMaker();
  addPolygon();
});

function addPolygon(){
  console.log(latlngs)
  polygon = JSON.parse(latlngs)
  // override the existing layer
  // editableLayers.removeLayer(editableLayers.getLayers()[0]);
  L.polygon(polygon,{color:color}).addTo(map);
  // generateLatlng();
}

function addMaker(){
  <% if(@plot.lat.nil? == false and @plot.long.nil? == false) %>
    L.marker([<%= @plot.lat %>,<%= @plot.long %>],{
      title: "<%= @plot.farmer.display_name %>",
    }).addTo(map)
      .bindPopup("<table>" +
        "<tr><td><b>เจ้าของแปลง</b></td><td><%= @plot.farmer.display_name %></td></tr>" +
        "<tr><td><b>รหัสแปลง</b></td><td><%= @plot.id %></td></tr>"+
        "<tr><td><b>พื้นที่ (ตร.กม.)</b></td><td><%= @plot.areaSqurekilometre %></td></tr>"+
        "<tr><td><b>พื้นที่ (ไร่)</b></td><td><%= @plot.areaRai %></td></tr>"+
        '<tr><td><a href="https://www.google.com/maps/search/?api=1&query=<%= @plot.lat %>,<%= @plot.long %>" target="_blank">นำทาง</a></td><td></td></tr>'+
        "</table>"
      )
      .openPopup();
  <% end %>
}
</script>

<div class="row">
  <!-- Left colum: image -->
  <div class="col-md-6">
    <div class="row justify-content-center">
      <div class="col">
        <%= raw plot_picture_carousel(@plot, 300) %>
      </div>
    </div>
    <% if !current_user.nil? %>
      <div class="row">
        <%= qrCode(plot_url(@plot),200) %>
      </div>
    <% end %>
    <div class="row my-3" >
      <div class="col">
        <div id="map" style="width: 100%; height: 300px;"></div>
      </div>
    </div>
  </div>
  <!-- Right Column: information-->
  <div class="col-md-6">
    <table class="table table-striped table-sm">
      <tr>
        <th>เจ้าของแปลง</th>
        <td><a href="<%= farmer_url @plot.farmer %>"> <%= @plot.farmer.display_name %> </a></td>
      </tr>
      <tr>
        <th>ที่อยู่</th>
        <td><%= @plot.display_address %></td>
      </tr>
      <tr>
        <th>ขนาดพื้นที่</th>
        <td><%= @plot.areaRai %> ไร่ </td>
      </tr>
      <tr><th>จำนวน</th><td><%= @plot.treeCount %> ต้น</td></tr>
      <tr><th>พันธุ์</th><td><%= @plot.breed %> ต้น</td></tr>   
      <tr><th>โครงการที่เข้าร่วม</th><td><%= @plot.project %> </td></tr>
      <tr><th>ใบรับรองที่ได้</th><td><%= @plot.certificate %> </td></tr>
      <tr><th>วันที่ได้ใบรับรอง</th><td><%= @plot.certificateDate %> </td></tr>
      <tr><th>ช่วงการเก็บเกี่ยวผลผลิต</th><td><%= @plot.harvestPeriod %> </td></tr>
      <tr><th>ปริมาณผลผลิตทั้งหมด</th><td><%= @plot.harvestQuantity %> กิโลกรัม</td></tr>
      <tr><th>ราคา</th><td><%= @plot.price %> บาท/กิโลกรัม</td></tr>
      <tr>
        <th>การจัดการแปลง</th>
        <td>
          <ul>
            <% JSON.parse(@plot.plotManagement).each do |index,value| %>
              <li><%= index %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>วิธีการใส่ปุ๋ย</th>
        <td>
          <ul>
            <% JSON.parse(@plot.fertilizeManagement).each do |index,value| %>
              <li>สูตรปุ๋ย <%= value["สูตรปุ๋ย"] %> อัตรา <%= value["อัตรา"] %> กิโลกรัม</li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>การจัดการน้ำ</th>
        <td>
          <ul>
            <% JSON.parse(@plot.waterManagement).each do |index,value| %>
              <li><%= index %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>การควบคุมโรค</th>
        <td>
          <ul>
            <% JSON.parse(@plot.illnessManagement).each do |index,value| %>
              <li><%= index %> : <%= value %> </li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>วิธีการเก็บเกี่ยวผลผลิต</th>
        <td>
          <ul>
            <% JSON.parse(@plot.harvestManagement).each do |index,value| %>
              <li><%= index %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>แหล่งรับซื้อ</th>
        <td>
          <ul>
            <% JSON.parse(@plot.sellingChannel).each do |index,value| %>
              <li><%= index %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>วิธีการขนส่งผลผลิต</th>
        <td>
          <ul>
            <% JSON.parse(@plot.logistic).each do |index,value| %>
              <li><%= index %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>

  </div>
</div>

<div class="row justify-content-center">
  <% if !current_user.nil? %>
  <a href="<%= edit_plot_path(@plot) %>" class="btn btn-light-brown"><i class='far fa-edit'></i> แก้ไข</a>
  <% end %>
  <a href="<%= plots_path(@plot) %>" class="btn btn-light"><i class="fas fa-arrow-left"></i> กลับ</a>
</div>