<p id="notice"><%= notice %></p>

<p>
  <strong>Farmer:</strong>
  <%= @plot.farmer %>
</p>

<p>
  <strong>Arearai:</strong>
  <%= @plot.areaRai %>
</p>

<p>
  <strong>Treecount:</strong>
  <%= @plot.treeCount %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @plot.breed %>
</p>

<p>
  <strong>Project:</strong>
  <%= @plot.project %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @plot.certificate %>
</p>

<p>
  <strong>Certificatedate:</strong>
  <%= @plot.certificateDate %>
</p>

<p>
  <strong>Harvestperiod:</strong>
  <%= @plot.harvestPeriod %>
</p>

<p>
  <strong>Harvestquantity:</strong>
  <%= @plot.harvestQuantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plot.price %>
</p>

<p>
  <strong>Plotmanagement:</strong>
  <%= @plot.plotManagement %>
</p>

<p>
  <strong>Fertilizemanagement:</strong>
  <%= @plot.fertilizeManagement %>
</p>

<p>
  <strong>Watermanagement:</strong>
  <%= @plot.waterManagement %>
</p>

<p>
  <strong>Illnessmanagement:</strong>
  <%= @plot.illnessManagement %>
</p>

<p>
  <strong>Harvestmanagement:</strong>
  <%= @plot.harvestManagement %>
</p>

<p>
  <strong>Sellingchannel:</strong>
  <%= @plot.sellingChannel %>
</p>

<p>
  <strong>Logistic:</strong>
  <%= @plot.logistic %>
</p>

<p>
  <strong>Address:</strong>
  <%= @plot.address %>
</p>

<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>
