<p id="notice"><%= notice %></p>

<h1>Watering Managements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watering_managements.each do |watering_management| %>
      <tr>
        <td><%= watering_management.name %></td>
        <td><%= link_to 'Show', watering_management %></td>
        <td><%= link_to 'Edit', edit_watering_management_path(watering_management) %></td>
        <td><%= link_to 'Destroy', watering_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watering Management', new_watering_management_path %>
