<script>
var style = "background-image:url('[img]'); height:200px; background-position:center;";
$( document ).ready(function() {
});
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $('#pictureSample')
          .attr('style', style.replace("[img]",e.target.result))
          .height(200);
    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>
<%= form_with(model: farmer, local: true) do |form| %>
  <% if farmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farmer.errors.count, "error") %> prohibited this farmer from being saved:</h2>

      <ul>
      <% farmer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="file">รูปเกษตรกร</label>
      <div id="pictureSample">
        <%= farmer_picture(farmer, 100, "rounded") %>
      </div>
      <%= form.file_field :picture, onchange: "readURL(this);", class:"form-control-file"%>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label "คำนำหน้า" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group col-md-5">
      <%= form.label "ชื่อ" %>
      <%= form.text_field :firstName, class: "form-control" %>
    </div>

    <div class="form-group col-md-5">
      <%= form.label "นามสกุล" %>
      <%= form.text_field :lastName, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label style="display: block">วัน-เดือน-ปี เกิด (ค.ศ.)</label>
    <%= form.date_select :dateOfBirth, {
        order: [:day, :month, :year],
        start_year: Date.current.year-100,
        end_year: Date.current.year-20
        }, { 
        class: "form-control",
        style: "display: inline-flex; width:20%" 
        } %>
  </div>

  <div class="form-group">
    <%= form.label "สมาชิกกลุ่ม" %>
    <%= form.text_field :group, class: "form-control" %>
  </div>

  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label "บ้านเลขที่" %>
      <%= form.text_field :addressNo, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label "หมู่" %>
      <%= form.text_field :addressMoo, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label "ตำบล" %>
      <%= form.text_field :addressTambon, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label "อำเภอ" %>
      <%= form.text_field :addressAmphoe, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label "จังหวัด" %>
      <%= form.text_field :addressProvince, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label "รหัสไปรษณีย์" %>
      <%= form.text_field :addressZipcode, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label "เบอร์โทร" %>
      <%= form.text_field :phoneNo, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label "อีเมล" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :facebook %>
      <%= form.text_field :facebook, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :line %>
      <%= form.text_field :line, class: "form-control" %>
    </div>
  </div>

  <button type="submit" class="btn btn-success" name="commit"><i class='far fa-save'></i> ยืนยัน</button>
<% end %>