<script>
var style = "background-image:url('[img]'); height:200px; background-position:center;";
$( document ).ready(function() {
});
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#picture img")[0].src = e.target.result 
    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>

<%= form_with(model: farmer, local: true) do |form| %>
  <% if farmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farmer.errors.count, "error") %> prohibited this farmer from being saved:</h2>

      <ul>
      <% farmer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="form-group col-md-12">
      <label for="file">รูปเกษตรกร</label>
      <div id="picture">
        <%= farmer_picture(farmer, 100) %>
      </div>     
      <%= form.file_field :picture, onchange: "readURL(this);", class:"form-control-file"%>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label "คำนำหน้า" %>
      <select class="form-control" type="text" name="farmer[title]" id="farmer_title">
        <option disabled selected>กรุณาเลือก</option>
        <option <%= farmer.title == "นาย" ? "selected":"" %>>นาย</option>
        <option <%= farmer.title == "นาง" ? "selected":"" %>>นาง</option>
        <option <%= farmer.title == "นางสาว" ? "selected":"" %>>นางสาว</option>
      </select>
    </div>

    <div class="form-group col-md-5">
      <%= form.label "ชื่อ" %>
      <%= form.text_field :firstName, class: "form-control" , autocomplete: "off" %>
    </div>

    <div class="form-group col-md-5">
      <%= form.label "นามสกุล" %>
      <%= form.text_field :lastName, class: "form-control", autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group">
    <label>วัน-เดือน-ปี เกิด (ค.ศ.)</label>
    <%= form.text_field :dateOfBirth, class: "form-control",autocomplete: "off", value: farmer.display_dateOfBirth %>
    <script>
        $(function() {
          
          $( "#farmer_dateOfBirth" ).datepicker({
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+0",
            });
          $( "#datepicker" ).datepicker( $.datepicker.regional[ "th" ] );
          $( "#datepicker" ).datepicker( "option", "dateFormat", "d MM yy" );
          
        });
    </script>
  </div>

  <div class="form-group">
    <%= form.label "สมาชิกกลุ่ม" %>
    <%= form.text_field :group, class: "form-control",autocomplete: "off" %>
  </div>

  <hr>

  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label "บ้านเลขที่" %>
      <%= form.text_field :addressNo, class: "form-control",autocomplete: "off" %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label "หมู่" %>
      <%= form.text_field :addressMoo, class: "form-control",autocomplete: "off" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label "ตำบล" %>
      <%= form.text_field :addressTambon, class: "form-control",autocomplete: "off" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label "อำเภอ" %>
      <%= form.text_field :addressAmphoe, class: "form-control",autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label "จังหวัด" %>
      <%= form.text_field :addressProvince, class: "form-control",autocomplete: "off" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label "รหัสไปรษณีย์" %>
      <%= form.text_field :addressZipcode, class: "form-control",autocomplete: "off" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label "เบอร์โทร" %>
      <%= form.text_field :phone, class: "form-control",autocomplete: "off" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label "อีเมล" %>
      <%= form.text_field :email, class: "form-control",autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :facebook %>
      <%= form.text_field :facebook, class: "form-control",autocomplete: "off" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :line %>
      <%= form.text_field :line, class: "form-control",autocomplete: "off" %>
    </div>
  </div>

  <button type="submit" class="btn btn-success" name="commit"><i class='far fa-save'></i> ยืนยัน</button>

<% end %>