<%= form_with(model: farmer, local: true) do |form| %>
  <% if farmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farmer.errors.count, "error") %> prohibited this farmer from being saved:</h2>

      <ul>
      <% farmer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName %>
  </div>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName %>
  </div>

  <div class="field">
    <%= form.label :dateOfBirth %>
    <%= form.date_select :dateOfBirth %>
  </div>

  <div class="field">
    <%= form.label :organization_id %>
    <%= form.text_field :organization_id %>
  </div>

  <div class="field">
    <%= form.label :addressNo %>
    <%= form.text_field :addressNo %>
  </div>

  <div class="field">
    <%= form.label :addressMoo %>
    <%= form.text_field :addressMoo %>
  </div>

  <div class="field">
    <%= form.label :addressTambon %>
    <%= form.text_field :addressTambon %>
  </div>

  <div class="field">
    <%= form.label :addressAmphoe %>
    <%= form.text_field :addressAmphoe %>
  </div>

  <div class="field">
    <%= form.label :addressProvince %>
    <%= form.text_field :addressProvince %>
  </div>

  <div class="field">
    <%= form.label :addressZipcode %>
    <%= form.text_field :addressZipcode %>
  </div>

  <div class="field">
    <%= form.label :phoneNo %>
    <%= form.text_field :phoneNo %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label :line %>
    <%= form.text_field :line %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
