<div class="row">
  <!-- Left colum: image -->
  <div class="col-md-6">
    <div class="row justify-content-center">
      <div class="col">
        <%= farmer_picture(@farmer, 300) %>
      </div>
    </div>
  </div>
  <!-- Right Column: information-->
  <div class="col-md-6">
    <table class="table table-striped table-sm">
      <tr>
        <th scope="row">ชื่อ</th>
        <td><%= @farmer.display_name %></td>
      </tr>
      </tr>
        <th>วันเกิด</th> 
        <td><%= @farmer.display_dateOfBirth %></td>
      </tr>
      </tr>
        <th>อายุ</th> 
        <td><%= @farmer.age %> ปี </td>
      </tr>
      </tr>
        <th>สมาชิกกลุ่ม</th> 
        <td><%= @farmer.group %></td>
      </tr>
      </tr>
        <th>ที่อยู่</th> 
        <td><%= @farmer.display_address %></td>
      </tr>
      </tr>
        <th>ช่องทางติดต่อ</th> 
        <td>
          เบอร์โทร: <%= @farmer.phone %><br>
          อีเมล: <%= @farmer.facebook %><br>
          Facebook: <%= @farmer.line %><br>
          Line: <%= @farmer.email %><br>
        </td>
      </tr>
      </tr>
        <th>จำนวนแปลง</th> 
        <td><%= @farmer.plot_count %></td>
      </tr>
      </tr>
        <th>ขนาดแปลงรวม</th> 
        <td><%= @farmer.disaply_plot_totalArea %></td>
      </tr>
      </tr>
        <th>แปลงที่ครอบครอง</th> 
        <td>
          <ul>
            <% @farmer.plots.each do |plot| %>
              <li><a href=<%= plot_url(plot) %>>รหัสแปลงที่ <%= plot.id %></a></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row justify-content-center">
  <% if !current_user.nil? %>
  <a href="<%= edit_farmer_path(@farmer) %>" class="btn btn-light-brown"><i class='far fa-edit'></i> แก้ไข</a>
  <% end %>
  <a href="<%= farmers_path(@farmer) %>" class="btn btn-light"><i class="fas fa-arrow-left"></i> กลับ</a>
</div>