<div class="row">
  <!-- Left colum: image -->
  <div class="col-md-6">
    <div class="row justify-content-center">
      <div class="col">
        <%= farmer_picture(@farmer, 300) %>
      </div>
    </div>
  </div>
  <!-- Right Column: information-->
  <div class="col-md-6">
    <p><b>ชื่อ</b> <%= @farmer.title %> <%= @farmer.firstName %> <%= @farmer.lastName %> </p>
    <p><b>วันเกิด</b> <%= @farmer.display_dateOfBirth %> <b>อายุ</b> <%= @farmer.age %> ปี </p>
    <p><b>สมาชิกกลุ่ม</b> <%= @farmer.group %> </p>
    <p><b>ที่อยู่</b><br> <%= @farmer.display_address %> </p>
    <p><b>ช่องทางติดต่อ</b><br>
    เบอร์โทร: <%= @farmer.phone %><br>
    อีเมล: <%= @farmer.facebook %><br>
    Facebook: <%= @farmer.line %><br>
    Line: <%= @farmer.email %><br>
    </p>
    <p><b>จำนวนแปลง</b> <%= @farmer.plot_count %></p>
    <p><b>ขนาดแปลงรวม</b> <%= @farmer.disaply_plot_totalArea %> </p>
  </div>
</div>

<%= link_to 'Edit', edit_farmer_path(@farmer) %> |
<%= link_to 'Back', farmers_path %>