<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @farmer.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @farmer.lastName %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @farmer.dateOfBirth %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @farmer.organization %>
</p>

<p>
  <strong>Addressno:</strong>
  <%= @farmer.addressNo %>
</p>

<p>
  <strong>Addressmoo:</strong>
  <%= @farmer.addressMoo %>
</p>

<p>
  <strong>Addresstambon:</strong>
  <%= @farmer.addressTambon %>
</p>

<p>
  <strong>Addressamphoe:</strong>
  <%= @farmer.addressAmphoe %>
</p>

<p>
  <strong>Addressprovince:</strong>
  <%= @farmer.addressProvince %>
</p>

<p>
  <strong>Addresszipcode:</strong>
  <%= @farmer.addressZipcode %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @farmer.phoneNo %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @farmer.facebook %>
</p>

<p>
  <strong>Line:</strong>
  <%= @farmer.line %>
</p>

<p>
  <strong>Email:</strong>
  <%= @farmer.email %>
</p>

<%= link_to 'Edit', edit_farmer_path(@farmer) %> |
<%= link_to 'Back', farmers_path %>
