<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :houseNo %>
    <%= form.text_field :houseNo %>
  </div>

  <div class="field">
    <%= form.label :moo %>
    <%= form.text_field :moo %>
  </div>

  <div class="field">
    <%= form.label :tambon %>
    <%= form.text_field :tambon %>
  </div>

  <div class="field">
    <%= form.label :amphoe %>
    <%= form.text_field :amphoe %>
  </div>

  <div class="field">
    <%= form.label :province %>
    <%= form.text_field :province %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
